*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: 1376px;
    margin:0 auto;
}
.container{
    max-width: 1376px;
    margin:0 auto;
}
ul{
    list-style: none;
}
.header{
    padding:25px 0;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 16px 16px;
}
.header__nav a{
    color:#000;
    font-size:16px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    
}
.header__nav a:hover{
    transition: all 0.8s;
    color:#DD052E;
}
.header__nav ul{
    display: flex;
    align-items: center;
}
.header__location-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #DD052E;
}
.header__busket a{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #F5F5F5;
    text-decoration: none;
    background: #DD052E;
    padding:6px 20px;
    box-shadow: 0px 2px 14px rgba(222, 95, 90, 0.4);
    border-radius: 6px;
}
.header__wrapper{
    display:flex;
    align-items: center;
}
.header__location{
    display: flex;
    align-items: center;
}
.header__logo{
    margin-right: 28px;
}
.header__nav li{
    margin-right: 14px;
}
.header__location-icon{
    margin-right: 8px;
}
.header__location{
    margin-right:34px;
}
.section__text{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 24px;
}
.section__images{
    display: flex;
    position: relative;
    left: -10px;
}
.shawarma__container{
    width: 313px;
    background: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(18, 18, 18, 0.07);
    border-radius: 8px;
    position: relative;

}
.shawarma{
    margin-top: 48px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    
}
.text__1{
    display: flex;
    align-items: center;

}
.text__3{
    display: flex;
    position: absolute;
    margin-bottom: 60PX;
}
.text__1-Djej{
    margin: 16px 12px 8px 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}
.text__1-Very{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 10px 2px;
    gap: 10px;
    width: 76px;
    height: 15px;
    background: rgba(221, 5, 46, 0.08);
    border-radius: 2px;
    visibility: 
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #DD052E;;
}
.text__2{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.text__3{
    margin-top: 16px;
}
.price{
    margin-right: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}
.button a{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    width: 98px;
    height: 29px;
    background: #DD052E;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF; 
    text-decoration: none;
}
.block{
    display: flex;
}